.container {
  font-family: Helvetica, sans-serif;
  max-width: 1170px;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 32px 0;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  font-weight: 400;
}

.add-btn {
  height: 30px;
  background: #4CAF50;
  color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 0 20px;
  width: auto;

  &:disabled {
    background: #f2f2f2;
  }
}

form {
  display: flex;
}

.form-input {
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  margin-right: 20px;
  width: 270px;
  padding: 0 16px;
}

.invalid {
  border: 1px solid red;
}
