<div class="container">
  <h1>Состояние платежей</h1>
  <form [formGroup]="formPayment"
        (ngSubmit)="createPayment()">
    <input type="text"
           placeholder="Наименование платежа*"
           formControlName="title"
           class="form-input"
           [ngClass]="{'invalid': formPayment.controls.title.invalid && formPayment.controls.title.touched}">
    <input type="number"
           placeholder="Стоимость за день"
           formControlName="price"
           class="form-input"
           [ngClass]="{'invalid': formPayment.controls.price.invalid && formPayment.controls.price.touched}">
    <button class="add-btn"
            [disabled]="formPayment.invalid">Добавить
    </button>
  </form>
  <table>
    <tr>
      <th>Наименование платежа</th>
      <th>Стоимость</th>
      <th *ngFor="let month of months">
        {{ month }}
      </th>
      <th>Удалить</th>
    </tr>
    <app-table-row *ngFor="let payment of payments$ | async"
                   [payment]="payment"
                   (updateTable)="getPayments()"></app-table-row>
  </table>
  <span>Израсходовано средств: {{ total$ | async }}</span>
</div>

